html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  flex-grow: 0;
  flex-basis: 50px;

  color: white;
  background-color: #2487c6;
}

.content {
  flex-grow: 1;

  background-color: #f7f7f7;
}
